/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ===== Element animation on Scroll =====*/
.lazy-left {
  opacity: 0;
  transform: translateX(-100%);
}

.lazy-right {
  opacity: 0;
  transform: translateX(100%);
}

.load-left {
  animation: slideLeft 0.5s forwards;
}

.load-right {
  animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ===== Blog Icon Animation =====*/
@keyframes bounce {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

/* --- Colors --- */
/* --- Font weight --- */ /* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* big landscape tablets, laptops, and desktops */
/* hi-res laptops and desktops */
#section-placeholder {
  height: 900px;
}

/* ===== BLOG SECTION ===== */
#section-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4A4A4A;
  position: relative;
  padding: 2em 0;
}

.section-blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
@media (min-width: 1281px) {
  .section-blog-container {
    max-width: 1120px;
  }
}

.blog-icon-container {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 0;
  background-color: #4A4A4A;
}

.blog-icon {
  height: 100px;
  width: 100px;
  animation: bounce 0.5s ease-in-out;
}

.section-heading {
  font-weight: 700;
  text-transform: uppercase;
  color: #5AC37E;
  font-size: 26px;
  position: relative;
  margin: 1em 0;
}

.section-description {
  color: white;
  font-size: 20px;
  max-width: 960px;
  margin-bottom: 2em;
  text-align: center;
}

/* ===== CTA SECTION ===== */
#section-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}
@media (min-width: 1281px) {
  #section-cta {
    padding: 2em 0;
  }
}

.section-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
@media (min-width: 961px) {
  .section-cta-container {
    flex-direction: row;
    height: 400px;
    max-width: 1280px;
  }
}

.cta-picture-container {
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
}
@media (min-width: 961px) {
  .cta-picture-container {
    height: 100%;
    width: 62.5%;
  }
}

.cta-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 1281px) {
  .cta-picture {
    width: 100%;
  }
}

.cta-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
}
@media (min-width: 961px) {
  .cta-content {
    width: 37.5%;
    height: 100%;
    margin-bottom: 0;
    padding: 0 1em;
  }
}

.cta-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  height: 80%;
  color: #5AC37E;
  font-weight: 800;
  font-size: 24px;
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 961px) {
  .cta-heading {
    margin-bottom: 0;
  }
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-size: 24px;
  color: white;
  padding: 1em 1ch;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(#5AC37E 0%, #41988D 50%, #5AC37E 100%);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  transition: background-position 0.25s;
}
.cta-button:hover {
  background-position: bottom;
  transition: background-position 0.25s;
}

/* ===== Owl Carousel container =====*/
.owl-carousel {
  position: relative;
  display: flex;
  justify-content: center;
}

/* ===== Owl Carousel items =====*/
.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Owl Carousel navigation buttons =====*/
.owl-nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 961px) {
  .owl-nav {
    position: absolute;
    height: 0;
    width: 100%;
    top: 50%;
    justify-content: space-between;
  }
}

.nav-button {
  height: 3em;
  width: 3em;
  position: relative;
}
.nav-button .arrow-white, .nav-button .arrow-green {
  position: absolute;
  background-color: #4A4A4A;
  border-radius: 15px;
}
.nav-button .arrow-white {
  opacity: 0;
  transition: opacity 0.25s;
}
.nav-button:hover .arrow-white {
  opacity: 1;
  transition: opacity 0.25s;
}

.prev {
  transform: rotate(180deg);
}

.blog-article {
  cursor: pointer;
  height: 400px;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 3em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}
.blog-article:hover .article-text {
  color: #5AC37E;
  transition: color 0.25s;
}
.blog-article:hover .article-picture {
  transform: scale(1.2);
  transition: transform 0.25s;
}
@media (min-width: 961px) {
  .blog-article {
    margin: 0 0 3em 0;
  }
}
@media (min-width: 1281px) {
  .blog-article {
    margin: 0 2em 3em 2em;
    max-width: 300px;
  }
}

.article-link {
  text-decoration: none;
}

.article-picture-wrapper {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.article-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.25s;
}

.article-description {
  height: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-text {
  color: black;
  transition: color 0.25s;
}

.article-timestamp {
  color: #ADADAD;
  display: inline-block;
}
.article-timestamp::before {
  content: url(https://0ddbird.github.io/Mon_super_blog/assets/clock.svg);
  height: auto;
  width: 1em;
  display: inline-block;
  margin-right: 1ch;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
